@tailwind base;
@tailwind components;
@tailwind utilities;


.parentcontainer{
  display: flex;
  border: 3px solid black;
  align-items:center;
  justify-content: space-evenly;
  background-attachment: fixed;
  background-color: pink;
}

.childcontainer {
  width: fit-content;
  height: 500px;
  margin: 50px;
  font-size: 20px;
  font-weight: bold;
  border:none;
  justify-content: baseline;
  transition: all;
}
.image-frame {
  border: 5px solid black; 
  padding: 0px;         
  display: inline-block;
}
img {
  width: 500px;         
  height: 300px;
}


.blueColor {
  color: rgb(57, 57, 243);
}
h1{
  color:blueviolet;
  font-size: larger;
  font-weight: bold;
}
p{
  color: blueviolet;
}